**/.DS_Store
**/.build/
**/.cache/
**/.codebuddy/
**/.fleet/
**/.idea/
**/.mypy_cache/
**/.ruff_cache/
**/.trash/
**/.venv/
**/.vs/
**/__cache__/
**/__pycache__/
**/build/
**/dist/
**/lib/
**/node_modules/
**/out/
**/target/
