**/*.egg-info
**/*.tar
**/*.tar.gz
**/.DS_Store
**/.build
**/.cache/
**/.fleet/
**/.idea/
**/.mypy_cache/
**/.next/
**/.ruff_cache
**/.venv/
**/.zip
**/__cache__/
**/_pagefind/
**/build/
**/dist/
**/lib/
**/node_modules/
**/out/
**/target/
